<header class="flex justify-center w-full items-center py-7">
  <nav class="gap-x-5 flex opacity-80">
    <a href="/">Inicio</a>
    <a href="">Proyectos</a>
    <a href="">Sobre mi</a>
    <a href="">Contacto</a>
  </nav>
</header>
