<header
  class="sticky top-0 z-50 w-full backdrop-blur-md bg-black/70 border-b border-gray-800/50"
>
  <div class="flex justify-center items-center py-5 md:py-7 px-4">
    <nav class="gap-x-6 md:gap-x-8 flex opacity-80 text-sm md:text-base">
      <a
        href="#top"
        class="hover:text-white transition-colors hover:opacity-100"
      >
        Inicio
      </a>
      <a
        href="#proyectos"
        class="hover:text-white transition-colors hover:opacity-100"
      >
        Proyectos
      </a>
      <a
        href="#sobre-mi"
        class="hover:text-white transition-colors hover:opacity-100"
      >
        Sobre mi
      </a>
      <a
        href="#contacto"
        class="hover:text-white transition-colors hover:opacity-100"
      >
        Contacto
      </a>
    </nav>
  </div>
</header>
