<header class="flex justify-center w-full items-center py-5 md:py-7 px-4">
  <nav class="gap-x-3 md:gap-x-5 flex opacity-80 text-sm md:text-base">
    <a href="/" class="hover:text-white transition-colors">Inicio</a>
    <a href="#proyectos" class="hover:text-white transition-colors">Proyectos</a
    >
    <a href="#sobre-mi" class="hover:text-white transition-colors">Sobre mi</a>
    <a href="#contacto" class="hover:text-white transition-colors">Contacto</a>
  </nav>
</header>
